[Unit]
Description=MO Commission Tools
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/mo-commission-app
ExecStart=/opt/mo-commission-app/venv/bin/gunicorn -c gunicorn.conf.py app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
